body {
	font-family: Helvetica, arial, sans-serif; 
	font-size: 16px;
	color: #44473C;
	margin: 30px;

}

a {
	color: #84D4B9;
	text-decoration: none;
}

nav a{
	color: #FFA5A0;
	font-style: italic;
	text-align: left;
	margin-right: 4em;

}

section {
	text-align: center;
}

h3{
	font-size: 2em;
	padding-top: 200px
}

	.hero {
		background: url('../images/homepage.jpg');
		height: 500px;
	    background-repeat: no-repeat;
	    background-size: cover;
	    font-weight: bold;
	    font-style: italic;
	 }

	}
	.hero-header {
		padding: 30px;
	}

ul{
	padding: 15px;
}


