*{
	padding: 0px;
	margin: 10px;
}

body {
	font-family: Helvetica, arial, sans-serif; 
	font-size: 16px;
	color: #44473C;
}

a {
	color: #84D4B9;
	text-decoration: none;
}

nav a{
	color: #FFA5A0;
	font-style: italic;
	margin-right: 10px;
}

section {
	text-align: center;
	color: #44473C;
}

img {
	height: 550px;
	
}

ul{
	padding: 15px;
}

h3{
	font-style: italic;
}